@charset "utf-8";

@import "base/sanitize";

@import "object/utility";





body,
html {
    font-family: "ヒラギノ明朝 Pro W3", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	background-color: #000000;
	min-width: 640px;
}

li,
ol,
ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

#wrapper {
    min-height: 750px;
}
body#top {
    background-image: url(../images/TOP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
}

#top .hune,
#top .icon1,
#top .icon2,
#top .you {
    position: absolute;
}

#top .title {
    text-align: center;
    padding: 46px 10px 0;
}

#top .icon1 {
    top: 27.6%;
    left: 10.32%;
}

#top .you {
    top: 5%;
    left: 6.3%;
}

#top .icon2 {
    top: 41.875%;
    left: 52.72%;
}

#top .hune {
    top: 72.375%;
    left: 43.68%;
}



body#saishi {
    background-image: url(../images/saishi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    position: relative;
}

#saishi .you {
    position: absolute;
    top: 5%;
    left: 7.4%;
}

#saishi .tope,
#saishi .toriie{
    position: absolute;
    left: 89.44%;
}

#saishi .tope {
    top: 2.75%;
}

#saishi .toriie {
    top: 8.25%;
}

#saishi .henkan {
    position: absolute;
    top: 52.875%;
    left: 39.52%;
}

#saishi .oomizu {
    position: absolute;
    top: 65.75%;
    left: 8.48%;
}

#saishi .hangan {
    position: absolute;
    top: 11.625%;
    left: 16.16%;
}

#saishi .okitsu {
    position: absolute;
    top: 60.75%;
    left: 31.6%;
}

#saishi .iwakami {
    position: absolute;
    top: 1.5%;
    left: 70.32%;
}

#saishi .iwakage {
    position: absolute;
    top: 30.125%;
    left: 84.64%;
}

#saishi .roten {
    position: absolute;
    top: 69.1%;
    left: 70.32%;
}

body#torii {
    background-image: url(../images/torii.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    position: relative;
}

#torii .misogi,
#torii .saishi,
#torii .sandou,
#torii .shokubutu,
#torii .tope,
#torii .saishie,
#torii .you {
    position: absolute;
}

#torii .you {
    top: 4.7%;
    left: 3.4%;
}

#torii .misogi {
    top: 64.125%;
    left: 13.8%;
}

#torii .shokubutu {
    top: 20.125%;
    left: 32.117%;
}

#torii .sandou {
    top: 39.25%;
    left: 82.6%;
}

#torii .tope {
    top: 2.75%;
    left: 89.29%;
}

#torii .saishie{
    top: 8.25%;
    left: 89.29%;
}

#torii .saishi {
    top: 4.6%;
    left: 53.06%;
}


/*-------------------
        modal
-------------------*/
#saishi div#glayLayer,
#top div#glayLayer,
#torii div#glayLayer {
    display: none;
    width: 100%;
    filter: alpha(opacity=60);
    opacity: .6
}
#top div#glayLayer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #000;
}

#top #overLayer {
    display: none;
    position: absolute;
	margin: auto;
	width: 80%;
    top: 0;
    left: 0;
	right: 0;
    bottom: 0;
}
#saishi div#glayLayer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #000;
}

#saishi #overLayer {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
}
#torii div#glayLayer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #000;
}
#torii #overLayer {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
}
#overLayer .overLayerContent{
	position: relative;
	width: 100%;
	padding-top: 56.25%;
}
iframe {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	top: 0;
}
