@charset "utf-8";

@import "base/sanitize";

@import "object/utility";



html,
body {
	font-family: "ヒラギノ明朝 Pro W3","HG明朝E","ＭＳ Ｐ明朝","ＭＳ 明朝",serif;}

ul,
ol,
li {
	list-style-type: none;
}
img {
	max-width: 100%;
	border: none;
}
button {
	border: none;
}

/*------------------------
		top
------------------------*/
body#top {
    background-image: url(../images/TOP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    position: relative;
}


#top .title{
    text-align: center;
    padding: 46px 10px 0;
}

#top .icon1 {
    position: absolute;
    top:27.6%;
    left:10.32%;
}

#top .you{
    position: absolute;
    top: 5%;
    left: 6.3%;
}

#top .icon2{
    position: absolute;
    top: 41.875%;
    left: 52.72%;
}

#top .hune{
    position: absolute;
    top: 72.375%;
    left: 43.68%;
}

#top div#glayLayer{
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:black;
	filter:alpha(opacity=60);
	opacity: 0.60;
}
#top #overLayer{
	display:none;
	position: fixed;
	top:50%;
	left:50%;
	margin-top:-244px;
	margin-left:-325px;
}
/*------------------------
		saishi
------------------------*/
body#saishi{
    background-image: url(../images/saishi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    position: relative;
}

#saishi .you{
    position: absolute;
    top: 5%;
    left: 7.4%;
}


#saishi .tope{
    position: absolute;
    top:2.75%;
    left:89.44%;
}

#saishi　.toriie{
    position: absolute;
    top:8.25%;
    left:89.44%;
}

#saishi　.oomizu{
    position: absolute;
    top:65.75%;
    left:8.48%;
}

#saishi　.hangan{
    position: absolute;
    top:11.625%;
    left:16.16%;
}

#saishi　.okitsu{
    position: absolute;
    top:56.75%;
    left:31.6%;
}

#saishi　.iwakami{
    position: absolute;
    top:1.5%;
    left:70.32%;
}

#saishi　.iwakage{
    position: absolute;
    top:30.125%;
    left:84.64%;
}

#saishi　.roten{
    position: absolute;
    top:69.1%;
    left:70.32%;
}

#saishi　div#glayLayer{
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:black;
	filter:alpha(opacity=60);
	opacity: 0.60;
}
#saishi　#overLayer{
	display:none;
	position: fixed;
	top:50%;
	left:50%;
	margin-top:-244px;
	margin-left:-325px;
}
/*------------------------
		torii
------------------------*/
body#torii{
    background-image: url(../images/torii.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    position: relative;
}

#torii .you{
    position: absolute;
    top: 4.7%;
    left: 3.4%;
}


#torii .misogi{
    position: absolute;
    top:64.125%;
    left:13.8%;
}

#torii .shokubutu{
    position: absolute;
    top:20.125%;
    left:32.117%;
}

#torii .sandou{
    position: absolute;
    top:39.25%;
    left:82.6%;
}

#torii .tope{
    position: absolute;
    top:2.75%;
    left:89.29%;
}

#torii .saishi{
    position: absolute;
        top: 4.6%;
        left: 53.06%;
}

#torii div#glayLayer{
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:black;
	filter:alpha(opacity=60);
	opacity: 0.60;
}
#torii #overLayer{
	display:none;
	position: fixed;
	top:50%;
	left:50%;
	margin-top:-244px;
	margin-left:-325px;
}