body{
    background-image: url(../image/TOP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    position: relative;
}


.title{
    text-align: center;
    margin-top: 46px;
    padding: 0 10px;
}

.icon1 {
    position: absolute;
    top:27.6%;
    left:10.32%;
}

.you{
    position: absolute;
    top: 5%;
    left: 6.3%;
}

.icon2{
    position: absolute;
    top: 41.875%;
    left: 52.72%;
}

.hune{
    position: absolute;
    top: 72.375%;
    left: 43.68%;
}

div#glayLayer{
	display:none;
	position:fixed;
	left:0;
	top:0;
	height:100%;
	width:100%;
	background:black;
	filter:alpha(opacity=60);
	opacity: 0.60;
}
#overLayer{
	display:none;
	position: fixed;
	top:50%;
	left:50%;
	margin-top:-244px;
	margin-left:-325px;
}